[Unit]
Description = Dispatch Service
[Service]
User=root
Environment=AMQP_HOST={{ lookup('aws_ssm', '{{ env }}.dispatch.amqp_host', region='us-east-1' ) }}
Environment=AMQP_USER={{ lookup('aws_ssm', '{{ env }}.dispatch.amqp_user', region='us-east-1' ) }}
Environment=AMQP_PASS={{ lookup('aws_ssm', '{{ env }}.dispatch.amqp_pass', region='us-east-1' ) }}

ExecStart=/usr/local/bin/uwsgi --ini dispatch.ini
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target